/* Google Web Font : Montserrat */
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Manrope:300,400,500,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@300;400;500&display=swap');

/* FontAwesome CDN 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/*--------------------------------- Reset Css ---------------------------------*/
*{box-sizing: border-box;}
ul{
  list-style: none;
  padding-inline-start: 0;
}
a{
  text-decoration: none;
  padding: 0;
}
/*--------------------------------- Default Css ---------------------------------*/
body{
  font-family: 'Montserrat', sans-serif;
  color: #222;
  font-size: 15px;
  margin: 0;
  height: 100vh;
  background: #fff;
}
.cd-section{
  height: 100vh;
}
.cd-section > div{
  height: 100%;
  position: relative;
}
.content{
  background-color: #ddd;
  position: absolute;
  width: calc(100% - 40px);
  height: calc(100% - 80px);
  left: 20px;
  bottom: 20px;
  overflow: hidden;
}
/*--------------------------------- Header ---------------------------------*/
header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
.gnb-inner{
  width: calc(100% - 40px);
  overflow: hidden;
  margin: auto;
  line-height: 60px;
}
.logo{
  float: left;
}
.logo img{
  padding-top: 7px;
  margin-left: -4px;
}
.gnb{
  float: right;
}
.menu{
  display: none;
}
.menu a{}
.slogan{
  float: right;
  font-size: 16px;
  font-style: italic;
}
.trigger{
  display: none;
}
/*hiring*/
.btn-hiring{
  position: fixed;
  bottom: 50px;
  right: 50px;
  color: #fff;
  padding: 10px 20px;
  background-color: #000;
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.38);
  transition: 0.5s;
}
.btn-hiring:hover{
  background-color: tomato;
}
.btn-hiring:active{
  transform: scale(0);
}
.btn-hiring .fa{
  transform: rotateY(180deg);
  margin-right: 5px;
}
@keyframes reveal{
  0%{
    width: 0;
  }
  100%{
    width: 100%;
  }
}
/*--------------------------------- home ---------------------------------*/
.home-inner{
  background-color: #000;
  height: 100%;
  position: relative;
}
.home-inner::before{
  content: '';
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;  
  background-color: #fff;
  animation: overlay 1s 2s ease-in-out both;
}
.welcome-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-weight: 300;
  font-family: 'Fraunces', serif;
  text-align: center;
  color: #fff;
  line-height: 1.2em;
  margin: 0;
  animation: slideup 2s linear both;
}
/* .welcome-text .red{
  color: red;
  display: inline-block;
  font-size: 40px;
  font-weight: 300;
  font-family: 'Fraunces', serif;
}
.welcome-text .red:last-child{
  font-size: 26px;
} */
.welcome-text span{
  display: block;
  font-size: 26px;
}
@keyframes slideup{
  0%{
    opacity: 0;
    margin-top: 50px;
  }
  20%{
    opacity: 1;
    margin-top: 0;
  }
  80%{
    opacity: 1;
    margin-top: 0;
  }
  100%{
    opacity: 0;
  }
}
@keyframes overlay{
  0%{
    width: 0;
    left: 0;
  }
  50%{
    width: 100%;
    left: 0;
  }
  100%{
    width: 0;
    left: 100%;
  }
}
@keyframes opacity-image{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes reveal{
  0%{
    width: 0;
  }
  100%{
    width: 100%;
  }
}
.home-heading{
  position: absolute;
  top: 50%;
  left: 200px;
  width: 100%;
  transform: translateY(-50%);
}
.home-heading span{
  display: block;
  font-size: 100px;
  font-weight: 400;
  font-family: 'Fraunces', serif;
  color: red;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  animation: reveal 1s 3s linear both;
}
.home-heading span:nth-child(1){
  animation-delay: 3s;
}
.home-heading span:nth-child(2){
  animation-delay: 3.2s;
}
.home-heading span:nth-child(3){
  animation-delay: 3.4s;
}
.opacity-image{
  width: 600px;
  height: 700px;
  position: absolute;
  top: 50%;
  right: 180px;
  transform: translateY(-50%);
  border: 1px solid #000;
  opacity: 0;
  animation: opacity-image 1s 2.8s ease-in both;
}
.still-cut{
  width: 90%;
  height: 90%;
  background: url(images/still-cut01.jpg) no-repeat center center/ cover;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.6);
  position: relative;
  z-index: 99;
}
.still-cut-title{
  position: absolute;
  top: 30%;
  right: 20px;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.5);
  color: #fff;
  z-index: 99;
}
.still-cut-back{
  width: 80%;
  height: 80%;
  background-color: rgba(255,0,0,0.6);
  position: absolute;
  bottom: 0;
  right: 0;
}
/*prev, next button*/
.cd-vertical-nav *{
 color: #000000;
}
/*--------------------------------- about ---------------------------------*/
#about .content{
  background-color: #fff;
}
.about-inner{
  width: 100%;
  height: 100%;
  border: 1px solid #ddd;
}
.about-inner > div{
  width: 50%;
  height: 100%;
  float: left;
}
.about-model{
  position: relative;
}
.model-info{
  padding-top: 80px;
}
.face{
  width: 250px;
  height: 250px;
  margin: auto;
  border-radius: 50%;
  background: url(images/profile.jpg) no-repeat center center/ cover;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.face::before{
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.2);
  opacity: 1;
  transition: .3s;
}
.face:hover::before{
  opacity: 0;
}
.spec{
  width: 100%;
}
.spec *{
  text-align: center;
}
.spec a{
  font-size: 18px;
  margin: 0 5px;
}
.spec a:nth-child(1){
  font-weight: bold;
}
.spec ul{
  width: 100%;
  display: flex;
  justify-content: center;
}
.spec ul li{
  margin: 0 20px;
}
.spec ul li span{
  font-weight: bold;
  margin-right: 5px;
}
.model-link a{color: #000;}
.model-link a:hover{color: tomato;}
.model-broadcast{
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 80px;
}
.broadcast-slider{
  width: 95%;
  margin: auto;
}
.broadcast-slider a{
  display: block;
  width: 180px;
  height: 150px;
  margin: 0 5px;
  outline: none;
}
.broadcast-slider a img{
  max-width: 100%;
  height: auto;
}
.about-photo img{
  outline: none;
}
.slick-prev:before, .slick-next:before {
  display: none;
}
.slick-dots li button:before {
  font-size: 36px;
}
/*--------------------------------- pictorial ---------------------------------*/
.pictorial-inner{
  background: url(images/background02.jpg) no-repeat center center/ cover;
  border: 1px solid #ddd;
  height: 100%;
}
.pictorial-info{
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
}
.cardContainer{
  height: 600px;
  width: 320px;
  display: inline-block;
}
.cardContainer > div{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  height: inherit;
  width: inherit;
  color:#FFF;
  font-size: 24px;
  font-family: 'Fraunces', serif;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transition: all 1.2s;
  -webkit-transition: all 1.2s;
  -moz-transition: all 1.2s;
  -o-transition: all 1.2s;
  padding-top: 80px;
  text-align: center;
  text-transform: uppercase;
}
.cardContainer:hover div{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.vogue01{background: url(images/2020_fw14.jpg) no-repeat center center/ cover;}
.vogue02{background: url(images/2020_fw12.jpg) no-repeat center center/ cover;}
.burberry01{background: url(images/2020_fw05.jpg) no-repeat center center/ cover;}
.burberry02{background: url(images/2020_fw06.jpg) no-repeat center center/ cover;}
.bazaar01{background: url(images/2020_fw15.jpg) no-repeat center center/ cover;}
.bazaar02{background: url(images/2020_fw16.jpg) no-repeat center center/ cover;}
.nars01{background: url(images/2020_fw18.jpg) no-repeat center center/ cover;}
.nars02{background: url(images/2020_fw19.jpg) no-repeat center center/ cover;}
.cardContainer div:last-child{
  position: relative;
  top: -600px;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}
.cardContainer div:last-child::after{
  content: '';
  display: block;
  width: inherit;
  height: inherit;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
}
.cardContainer:nth-of-type(1) div:last-child::before,
.cardContainer:nth-of-type(2) div:last-child::before,
.cardContainer:nth-of-type(3) div:last-child::before,
.cardContainer:nth-of-type(4) div:last-child::before{
  color: #ffffff;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  line-height: 30px;
  display: block;
  padding: 0 20px;
  padding-top: 100px;
  width: inherit;
  height: inherit;
  position: absolute;
  z-index: 99;
  top: 0;
}
.cardContainer:nth-of-type(1) div:last-child::before{
  content: 'Sarah Burton described the 2021 S/S collection as a "desire for purity" for the video. The cool and beautiful encounter of Choi Min-ra, who rose to the top as a model and sophisticated costume of Alexander McQueen, who focused on the essential beauty of clothes.';
}
.cardContainer:nth-of-type(2) div:last-child::before{
  content: 'Burberry’s Chief Creative Officer Riccardo Tisci honors the brand’s heritage of exploration, physically rooted in Burberry’s signature smooth, durable gabardine cloth designed to conquer new heights on the open road of a mountainous landscape. This is the formidable road ahead for humankind.';
}
.cardContainer:nth-of-type(3) div:last-child::before{
  content: 'Least shining at number one on the runway.He stood in front of the camera wearing Saint Laurent new look. The chic side of top model, Mimara, who travels all over the world!';

}
.cardContainer:nth-of-type(4) div:last-child::before{
  content: 'NARS, a makeup brand that has caused a sensation in the beauty world with its intense color, simple design and unconventional visuals, stood in front of Vogue cameras wearing lipstick on its 25th anniversary. It is a celebration given by Vogue, who marks the 23rd new day at 25 NARS. Our women Vogue Beauty book, which is creative, ever-changing and self-expression.';
}
.cardContainer:hover div:first-child{
  transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
}
.cardContainer:hover div:last-child{
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
}
/*--------------------------------- show ---------------------------------*/
.show-inner{
  background: url(images/fashion_show.jpg) no-repeat center center;
  height: 100%;
  width: 100%;
  position: relative;
}
.show-inner::before{
  content: '';
  background-color: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
  position: absolute;
}
.feature{
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ddd;
}
.feature > div{
  float: left;
}
.office{
  width: 60%;
  padding-right: 100px;
}
.service{
  width: 40%;
}
.office b{
  font-weight: normal;
}
.office h2{
  color: tomato;
  font-weight: 500;
  margin: 0;
  margin-top: 5px;
}
.office p{
  font-size: 16px;
  line-height: 1.5em;
}
.office span{
  color: #fff;
}
.customer{
  margin-top: 40px;
}
.service-item{
  margin-bottom: 40px;
}
.service-item .fa{
  color: tomato;
  font-size: 32px;
}
.service-item h3{
  margin-top: 40px;
  color: #fff;
  font-size: 22px;
  margin: 0;
}
/*--------------------------------- contact ---------------------------------*/
.contact-inner{
  height: 100%;
  background-color: #ffffff;
  border: 1px solid #ddd;
  position: relative;
}
.contact-feature{
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.contact-feature > div{
  float: left;
  width: 50%;
  padding: 20px;
}
.contact-from{}
.contact-from h3{
  font-size: 30px;
  font-weight: normal;
  margin: 0;
  font-family: 'Fraunces', serif;
  color: tomato;
}
.contact-from h3 b{
  color: #000000;
}
.send-box{}
.send-box label{
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0;
  margin-top: 20px;
}
.send-box label span{
  color: tomato;
  font-weight: normal;
}
.send-box input[type=email],
.send-box input[type=text],
.send-box textarea{
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 3px;
  outline: none;
  width: 100%;
  transition: .5s;
}
.send-box input[type=email]:hover,
.send-box input[type=text]:hover,
.send-box textarea:hover{
  border: 1px solid #0088cc;
  box-shadow: 0 0 5px #0088cc;
}
.send-box input[type=email]:focus,
.send-box input[type=text]:focus,
.send-box textarea:focus{
  background-color: #f0f0f0;
}
.send-box button{
  background-color: #000;
  color: #ffffff;
  text-transform: uppercase;
  padding: 12px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
  transition: .5s;
}
.send-box button .fa{
  margin-left: 10px;
  transition: .5s;
}
.send-box button:hover .fa{
  margin-left: 30px;
}
.send-box button:hover{
  background-color: tomato;
}
.contact-info{}
.contact-info h4{
  font-weight: normal;
  font-size: 20px;
  margin: 0;
  margin-top: 20px;
}
.contact-info ul li{
  line-height: 2em;
}
.contact-info ul li .fa{
  margin-right: 10px;
}
.contact-info ul li:last-child{
  color: tomato;
}
.contact-info p{
  line-height: 1.5em; 
}
/*--------------------------------- sub page: hiring ---------------------------------*/
.modal{
  font-family: 'Source Sans Pro', sans-serif;
}
.header{
  position: fixed;
  z-index: 99;
  width: 100%;
  background-color: #fff;
}
.header-inner{
  width: 95%;
  height: 90px;
  line-height: 90px;
  border-bottom: 1px solid #ddd;
  margin: auto;
}
.modal-display{
  font-size: 18px;
}
.hiring-main{
  height: 600px;
  position: relative;
}
@keyframes slidedown{
  0%{
    opacity: 0;
    margin-top: -50px;
  }
  100%{
    opacity: 1;
    margin-top: 0;
  }
}
.hiring-heading{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: slidedown .5s linear both;
  padding: 10px 0;
}
.hiring-heading .yg_logo{
  width: 120px;
  height: 40px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
/* .hiring-heading span{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  position: relative;
}
.hiring-heading span::after,
.hiring-heading span::before{
  content: '';
  height: 2px;
  width: 50px;
  background-color: #000;
  position: absolute;
  top: 50%;
}
.hiring-heading span::after{
  left: 120%;
}
.hiring-heading span::before{
  right: 120%;
} */
.hiring-heading h1{
  margin: 0;
  margin-top: 40px;
  font-size: 100px;
  font-weight: normal;
}
.hiring-info{
  overflow: hidden;
}
.hiring-info > div {
  float: left;
  width: 50%;
  height: 600px;
}
.center-parent{
  position: relative;
}
.center-child{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}
.center-child h2{
  font-size: 36px;
  font-weight: normal;
}
.center-child p{
  font-size: 22px;
  line-height: 1.5em;
  font-weight: 300;
}
.center-photo img{
  width: 100%;
}
.hiring-slogan{
  padding: 100px 0;
}
.hiring-slogan p{
  text-align: center;
  width: 70%;
  margin: auto;
  font-size: 32px;
  font-weight: 300;
  position: relative;
}
.hiring-slogan p::before{
  content: ',,';
  font-family: 'Overpass', sans-serif;
  font-size: 200px;
  color: #ddd;
  position: absolute;
  top: -90px;
  left: -35px;
  transform: rotate(180deg);
}
.hiring-contact ul{
  display: inline-block;
  width: 49%;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5em;
}
.hiring-contact ul li{}
.hiring-contact ul li:first-child{
  font-weight: 400;
}
.hiring-contact ul li:last-child{
  color: dodgerblue;
}
.sns{}
.sns a{
  font-size: 15px;
  color: #000;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  margin: 2px;
  position: relative;
}
.sns a::before{
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scale(0);
  z-index: -1;
  content: '';
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transition: .3s;
}
.sns a:hover{
  color: #fff;
}
.sns a:hover:before{
  transform: translateX(-50%) scale(1);
}
.sns a:nth-child(1)::before{background-color: #3b5999;}
.sns a:nth-child(2)::before{background-color: #55acee;}
.sns a:nth-child(3)::before{background-color: #0077B5;}
.sns a:nth-child(4)::before{background-color: #e4405f;}
.sns a:nth-child(5)::before{background-color: #cd201f;}
.sns a:nth-child(6)::before{background-color: #0084ff;}
/*---------------------featherlight custom css----------------------*/
.featherlight .featherlight-content {
  position: relative;
  text-align: left;
  vertical-align: middle;
  display: inline-block;
  overflow: auto;
  padding: 0;
  margin-left: 0;
  margin-right: 0px;
  max-height: 100%;
  background: #fff;
  cursor: auto;
  white-space: normal;
  width: 100%;
  height: 100%;
}
.featherlight iframe {
  border: none;
  width: 100%;
  height: 100%;
}
.featherlight .featherlight-close-icon{
  position: absolute;
  z-index: 9999;
  top: 30px;
  right: 70px;
  line-height: 25px;
  width: 25px;
  cursor: pointer;
  text-align: center;
  font-family: Arial, sans-serif;
  background: #fff;
  background: rgba(255, 255, 255, 0.3);
  color: #000;
  border: none;
  padding: 0;
  font-size: 40px;
  outline: none;
}